body {
    display: grid;
    grid-template: 
        "head head head" auto
        "left field right" 20em
        "foot foot foot" auto / 1em 10em 4em;
    margin: 2em;
}

h1 {
    grid-area: head;
}

#game-field {
    grid-area: field;
    background-color: black;
    width: 100%;
}

#next-piece {
    grid-area: right;
    background-color: black;
    width: 100%;
}
